.search__form {
    display: flex;
    margin: 0;
    margin-top: 88px;
    width: 100%;
    border-radius: 100px;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    min-height: 64px;
    background-color: white;
    position: relative;
}

@media (max-width: 608px) {
    .search__form {
        max-width: 90%;
        flex-direction: column;
        background-color: transparent;
        margin: 88px auto 0;
    }
}