.news-card-list__item {
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    position: relative;
}

@media (max-width: 410px) {
    .news-card-list__item {
       max-width: 288px;
    }
}