.news-card-list__desctiption {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin: 0;
    margin-top: 16px;
    margin-left: 24px;
    max-width: 352px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 832px) {
    .news-card-list__desctiption {
        display: -webkit-box; 
        -webkit-line-clamp: 4; 
        -webkit-box-orient: vertical;
        max-width: 192px;
        margin-left: 16px;
        text-overflow: ellipsis;
        margin-top: 10px;
    }
}

@media (max-width: 608px) {
    .news-card-list__desctiption {
        margin: 10px auto 0;
        -webkit-line-clamp: 4;
        font-size: 18px;
        line-height: 24px;
        max-width: 90%;
        font-size: 22px;
        line-height: 24px;
        
    }
}