.about__container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

@media (max-width: 832px) {
    .about__container {
        max-width: 424px;
    }
}

@media (max-width: 608px) {
    .about__container {
        width: 90%;
        margin: 24px auto 0;
    }
}