.popup-header__close-btn {
    width: 40px;
    height: 40px;
    border: none;
    position: absolute;
    z-index: 10;
    top: 4%;
    right: 5%;
    padding: 0;
    background: url(../../../images/x.png) no-repeat center; 
    cursor: pointer;
    transition: opacity 0.5s linear;
    background-size: contain;
}

.popup-header__close-btn:hover {
    opacity: 0.6;
}