.news-card-list__button-contanier {
    display: flex;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 226px;
    height: 40px;
    justify-content: flex-end;
}

.news-card-list__button-contanier:hover{
    cursor: pointer;
}