.main {
    display: flex;
    margin: 0 auto;
    background-image: url(/src/images/georgia-de-lotz--UsJoNxLaNo-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    max-width: 1440px;
}

@media (max-width: 608px) {
    .main {
        background-position: center;
    }
}