.search__form-button {
    padding: 0;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    border: none;
    border-radius: 100px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    flex-grow: 1;
    max-width: 168px;
    position: inherit;
    left: 2px;
    
}

.search__form-button:hover {
    cursor: pointer;
    background: #347EFF;
}

.search__form-button:active {
    background: #2A65CC;
}


@media (max-width: 608px) {
    .search__form-button {
        margin-top: 16px;
        max-width: 100%;
        padding: 16px;
    }
}