.footer__navbar-links-practicum {
    width: 192px;
    text-decoration: none;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: black;
    text-align: center;
}

@media (max-width: 608px) {
    .footer__navbar-links-practicum {
        text-align: left;
        margin-top: 22px;
    }
}