.saved-news-card-list__button {
    background: url("../../../images/trash.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 18px;
    right: 15px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 8px;
}

.saved-news-card-list__button:hover {
    background: url("../../../images/trashhov.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    cursor: pointer;
}