.signup-success__title {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    max-width: 315px;
    margin: 0;
    margin-left: 36px;
    margin-top: 43px;
}

@media (max-width: 608px) {
    .signup-success__title {
        max-width: 90%;
        margin-left: 17px;
    }
}