.saved-news-header__menu {
    display: none;
}

.saved-news-header__menu:hover {
    cursor: pointer;
}

@media (max-width: 608px) {
    .saved-news-header__menu {
        display: block;
        background: url(/src/images/menusav.png);
        width: 24px;
        height: 24px;
        background-position: center;
        border: none;
        padding: 0;
        margin: 0;
        margin-right: 16px;
    }
}