.news-card-list {
    width: 87%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    gap: 16px 16px;
    padding: 0;
    list-style: none;
    padding-bottom: 80px;
    justify-items: center;
}

@media (max-width: 832px) {
    .news-card-list {
        max-width: 688px;
        grid-template-columns: repeat( auto-fit, minmax(224px, 1fr));
        gap: 8px 8px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@media (max-width: 608px) {
    .news-card-list {
        justify-content: center;
        width: 100%;
        grid-template-columns: 400px;
        gap: 8px 8px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
