.popup-header__signin-button {
    margin: 22px auto 24px;
    margin-left: 16px;
    font-family: 'Roboto', 'system';
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid white;
    border-radius: 100px;
    background-color: transparent;
    width: 90%;
    box-sizing: border-box;
}
.popup-header__signin-button:hover {
    cursor: pointer;
}