.footer__navbar-links {
    margin-right: 41.89px;
    width: 304px;
    text-align: center;
}

@media (max-width: 608px) {
    .footer__navbar-links {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-right: 0;
    }
}